Data cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from mpl_toolkits import mplot3d

In [3]:
df=pd.read_csv("Downloads/Crop Production data.csv")

In [4]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.1+ MB

In [6]:
df["Date"] = pd.to_datetime(df['Crop_Year'],format='%Y')

In [7]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Date
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,2000-01-01
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,2000-01-01
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,2000-01-01
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,2000-01-01
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,2000-01-01

In [8]:
Unique_state_names=df["State_Name"].unique()

In [9]:
print(Unique_state_names)

['Andaman and Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh'
 'Assam' 'Bihar' 'Chandigarh' 'Chhattisgarh' 'Dadra and Nagar Haveli'
 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu and Kashmir '
 'Jharkhand' 'Karnataka' 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Manipur'
 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha' 'Puducherry' 'Punjab'
 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Telangana ' 'Tripura' 'Uttar Pradesh'
 'Uttarakhand' 'West Bengal']

In [10]:
Unique_date=df["Date"].unique()
print(Unique_date)

<DatetimeArray>
['2000-01-01 00:00:00', '2001-01-01 00:00:00', '2002-01-01 00:00:00',
 '2003-01-01 00:00:00', '2004-01-01 00:00:00', '2005-01-01 00:00:00',
 '2006-01-01 00:00:00', '2010-01-01 00:00:00', '1997-01-01 00:00:00',
 '1998-01-01 00:00:00', '1999-01-01 00:00:00', '2007-01-01 00:00:00',
 '2008-01-01 00:00:00', '2009-01-01 00:00:00', '2011-01-01 00:00:00',
 '2012-01-01 00:00:00', '2013-01-01 00:00:00', '2014-01-01 00:00:00',
 '2015-01-01 00:00:00']
Length: 19, dtype: datetime64[ns]

In [11]:
df["Season"]=df["Season"].str.strip()
Unique_Season=df["Season"].unique()
print(Unique_Season)

['Kharif' 'Whole Year' 'Autumn' 'Rabi' 'Summer' 'Winter']

In [12]:
df["Season"]=df["Season"].apply(lambda x : "Rabi" if x == "Winter" else x)
df["Season"]=df["Season"].apply(lambda x : "Rabi" if x == "Autumn" else x)
df["Season"]=df["Season"].apply(lambda x : "Zaid" if x == "Summer" else x)
print(df["Season"].unique())

['Kharif' 'Whole Year' 'Rabi' 'Zaid']

In [13]:
df["Crop"]=df["Crop"].str.strip()
Unique_Crop=df["Crop"].unique()
print(Unique_Crop)

['Arecanut' 'Other Kharif pulses' 'Rice' 'Banana' 'Cashewnut' 'Coconut'
 'Dry ginger' 'Sugarcane' 'Sweet potato' 'Tapioca' 'Black pepper'
 'Dry chillies' 'other oilseeds' 'Turmeric' 'Maize' 'Moong(Green Gram)'
 'Urad' 'Arhar/Tur' 'Groundnut' 'Sunflower' 'Bajra' 'Castor seed'
 'Cotton(lint)' 'Horse-gram' 'Jowar' 'Korra' 'Ragi' 'Tobacco' 'Gram'
 'Wheat' 'Masoor' 'Sesamum' 'Linseed' 'Safflower' 'Onion'
 'other misc. pulses' 'Samai' 'Small millets' 'Coriander' 'Potato'
 'Other  Rabi pulses' 'Soyabean' 'Beans & Mutter(Vegetable)' 'Bhindi'
 'Brinjal' 'Citrus Fruit' 'Cucumber' 'Grapes' 'Mango' 'Orange'
 'other fibres' 'Other Fresh Fruits' 'Other Vegetables' 'Papaya'
 'Pome Fruit' 'Tomato' 'Rapeseed &Mustard' 'Mesta' 'Cowpea(Lobia)' 'Lemon'
 'Pome Granet' 'Sapota' 'Cabbage' 'Peas  (vegetable)' 'Niger seed'
 'Bottle Gourd' 'Sannhamp' 'Varagu' 'Garlic' 'Ginger' 'Oilseeds total'
 'Pulses total' 'Jute' 'Peas & beans (Pulses)' 'Blackgram' 'Paddy'
 'Pineapple' 'Barley' 'Khesari' 'Guar seed' 'Moth'
 'Other Cereals & Millets' 'Cond-spcs other' 'Turnip' 'Carrot' 'Redish'
 'Arcanut (Processed)' 'Atcanut (Raw)' 'Cashewnut Processed'
 'Cashewnut Raw' 'Cardamom' 'Rubber' 'Bitter Gourd' 'Drum Stick'
 'Jack Fruit' 'Snak Guard' 'Pump Kin' 'Tea' 'Coffee' 'Cauliflower'
 'Other Citrus Fruit' 'Water Melon' 'Total foodgrain' 'Kapas' 'Colocosia'
 'Lentil' 'Bean' 'Jobster' 'Perilla' 'Rajmash Kholar' 'Ricebean (nagadal)'
 'Ash Gourd' 'Beet Root' 'Lab-Lab' 'Ribed Guard' 'Yam' 'Apple' 'Peach'
 'Pear' 'Plums' 'Litchi' 'Ber' 'Other Dry Fruit' 'Jute & mesta']

In [14]:
df["Crop"]=df["Crop"].apply(lambda x : "Sesamum" if x == "Sesamum" else x)
df["Crop"]=df["Crop"].apply(lambda x : "Pome Granet" if x == "Pome Granet" else x)
df["Crop"]=df["Crop"].apply(lambda x : "Sannhamp" if x == "Sannhamp" else x)
df["Crop"]=df["Crop"].apply(lambda x : "Redish" if x == "Redish" else x)
df["Crop"]=df["Crop"].apply(lambda x : "Soyabean" if x == "Soyabean" else x)
df["Crop"]=df["Crop"].apply(lambda x : "Paddy" if x == "Paddy" else x)
df["Crop"]=df["Crop"].apply(lambda x : "Pump Kin" if x == "Pump Kin" else x)
df["Crop"]=df["Crop"].apply(lambda x : "Lentil" if x == "Lentil" else x)
df["Crop"]=df["Crop"].apply(lambda x : "Blackgram" if x == "Blackgram" else x)
df["Crop"]=df["Crop"].apply(lambda x : "Snak Guard" if x == "Snak Guard" else x)

print(df["Crop"].unique())

['Arecanut' 'Other Kharif pulses' 'Rice' 'Banana' 'Cashewnut' 'Coconut'
 'Dry ginger' 'Sugarcane' 'Sweet potato' 'Tapioca' 'Black pepper'
 'Dry chillies' 'other oilseeds' 'Turmeric' 'Maize' 'Moong(Green Gram)'
 'Urad' 'Arhar/Tur' 'Groundnut' 'Sunflower' 'Bajra' 'Castor seed'
 'Cotton(lint)' 'Horse-gram' 'Jowar' 'Korra' 'Ragi' 'Tobacco' 'Gram'
 'Wheat' 'Masoor' 'Sesamum' 'Linseed' 'Safflower' 'Onion'
 'other misc. pulses' 'Samai' 'Small millets' 'Coriander' 'Potato'
 'Other  Rabi pulses' 'Soyabean' 'Beans & Mutter(Vegetable)' 'Bhindi'
 'Brinjal' 'Citrus Fruit' 'Cucumber' 'Grapes' 'Mango' 'Orange'
 'other fibres' 'Other Fresh Fruits' 'Other Vegetables' 'Papaya'
 'Pome Fruit' 'Tomato' 'Rapeseed &Mustard' 'Mesta' 'Cowpea(Lobia)' 'Lemon'
 'Pome Granet' 'Sapota' 'Cabbage' 'Peas  (vegetable)' 'Niger seed'
 'Bottle Gourd' 'Sannhamp' 'Varagu' 'Garlic' 'Ginger' 'Oilseeds total'
 'Pulses total' 'Jute' 'Peas & beans (Pulses)' 'Blackgram' 'Paddy'
 'Pineapple' 'Barley' 'Khesari' 'Guar seed' 'Moth'
 'Other Cereals & Millets' 'Cond-spcs other' 'Turnip' 'Carrot' 'Redish'
 'Arcanut (Processed)' 'Atcanut (Raw)' 'Cashewnut Processed'
 'Cashewnut Raw' 'Cardamom' 'Rubber' 'Bitter Gourd' 'Drum Stick'
 'Jack Fruit' 'Snak Guard' 'Pump Kin' 'Tea' 'Coffee' 'Cauliflower'
 'Other Citrus Fruit' 'Water Melon' 'Total foodgrain' 'Kapas' 'Colocosia'
 'Lentil' 'Bean' 'Jobster' 'Perilla' 'Rajmash Kholar' 'Ricebean (nagadal)'
 'Ash Gourd' 'Beet Root' 'Lab-Lab' 'Ribed Guard' 'Yam' 'Apple' 'Peach'
 'Pear' 'Plums' 'Litchi' 'Ber' 'Other Dry Fruit' 'Jute & mesta']

In [15]:
def category_name(name):
    Cereals=['Wheat','Maize','Bajra','Paddy','Wheat','Jowar','Korra','Ragi','Samai','Small millets','Ragi','Varagu','Barley','Khesari','Other Cereals & Millets']
    pulses=['Peas & beans (Pulses)','other misc. pulses','Other  Rabi pulses','Pulses total','Other Kharif pulses','Moong(Green Gram)','Blackgram','Lentil','Arhar/Tur','Gram','Horse-gram']
    vegetables=['Beet Root','Pump Kin','Snak Guard','Drum Stick','Carrot' ,'Ash Gourd','Ribed Guard','Bean','Peas  (vegetable)','Cucumber','Beans & Mutter(Vegetable)','Cabbage','Sweet potato','Lemon','Potato','Onion','Other Vegetables','Tomato','Tapioca','Bhindi','Brinjal',]
    fruits=['Grapes','Barley','Mango','Jack Fruit','Orange','Papaya','Yam' ,'Pear','Plums','Litchi','Banana','Apple','Peach','Water Melon','Pineapple','Pome Fruit','Pome Granet','Other Fresh Fruits','Citrus Fruit']
    oilseeds=['Sunflower','Safflower','Groundnut','Castor seed','Sesamum','Linseed','Niger seed','Rapeseed &Mustard','Niger seed','other oilseeds','other oilseeds']
    condiments=['Dry ginger','Dry chillies','Black pepper','Dry chillies','Turmeric','Coriander','Garlic','Ginger','Cond-spcs other','Arcanut (Processed)','Cardamom']
    dryfruits=['Cashewnut','Cashewnut Raw','Cashewnut Processed','Other Dry Fruit']
    plantation=['Sugarcane','Cotton(lint)','Coconut','Jute','Rubber','Jute & mesta','Cardamom','Tobacco','Guar seed','Rubber','Tea','Coffee','other fibres']
    if name in Cereals:
        return 'Cereal'
    elif name in pulses:
        return 'pulses'
    elif name in vegetables:
        return 'vegetables'
    elif name in fruits:
        return 'fruits'
    elif name in oilseeds:
        return 'oilseeds'    
    elif name in condiments:
        return 'condiments' 
    elif name in dryfruits:
        return 'dryfruits'
    else:
        return 'plantation'
   


df["category"]=df["Crop"].apply(category_name)
print(df["category"].unique())

['plantation' 'pulses' 'fruits' 'dryfruits' 'condiments' 'vegetables'
 'oilseeds' 'Cereal']

In [16]:
def category_name(name):
    east_india=['west bengal','Tripura','Arunachal Pradesh','Assam','Manipur','Meghalaya','Mizoram','sikkim','odisha']
    west_india=['Maharashtra','Gujarat','Dadra and Nagar Haveli','Goa','Rajastan']
    north_india=['Bihar','Nagaland','Chandigarh','Chhattisgarh','Haryana','Himachal Pradesh','Jammu and Kashmir','Jharkhand','Uttar Pradesh','Madhya Pradesh','Punjab','uttarakhand']
    south_india=['Tamilnadu','Telengana','Andaman and Nicobar Islands','Andhra Pradesh','Karnataka','Kerala','Puducherry']
    
    if name in east_india:
        return 'East india'
    elif name in west_india:
        return 'West india'
    elif name in north_india:
        return 'North india'    
    else:
        return 'South india'


df["Region"]=df["State_Name"].apply(category_name)
print(df["Region"].unique())

['South india' 'East india' 'North india' 'West india']

In [17]:
my_df=df.loc[df['Region'] == 'None']
my_df["State_Name"].unique

In [18]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Date,category,Region
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,2000-01-01,plantation,South india
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,2000-01-01,pulses,South india
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,2000-01-01,plantation,South india
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,2000-01-01,fruits,South india
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,2000-01-01,dryfruits,South india

In [19]:
df.columns = ['State_Name','District_Name','Crop_Year','Season','Crop','Area(Hr)','Production(tn)','Date','category','Region']

In [20]:
df.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop',
       'Area(Hr)', 'Production(tn)', 'Date', 'category', 'Region'],
      dtype='object')

In [21]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area(Hr),Production(tn),Date,category,Region
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,2000-01-01,plantation,South india
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,2000-01-01,pulses,South india
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,2000-01-01,plantation,South india
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,2000-01-01,fruits,South india
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,2000-01-01,dryfruits,South india

In [22]:
df["productivity"]=df["Production(tn)"]/df["Area(Hr)"]

In [23]:
df.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop',
       'Area(Hr)', 'Production(tn)', 'Date', 'category', 'Region',
       'productivity'],
      dtype='object')

In [24]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area(Hr),Production(tn),Date,category,Region,productivity
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,2000-01-01,plantation,South india,1.594896
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,2000-01-01,pulses,South india,0.500000
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,2000-01-01,plantation,South india,3.147059
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,2000-01-01,fruits,South india,3.642045
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,2000-01-01,dryfruits,South india,0.229167

In [29]:
df.shape

(218379, 11)

In [33]:
#df=df.drop(df[df['Area(Hr)'] ==1].index)
#df=df.drop(df[df['Area(Hr)'] ==2].index)
#df=df.drop(df[df['Area(Hr)'] ==3].index)
#df=df.drop(df[df['Area(Hr)'] ==4].index)
#df=df.drop(df[df['Area(Hr)'] ==5].index)
#df=df.drop(df[df['Area(Hr)'] ==6].index)
#df=df.drop(df[df['Area(Hr)'] ==7].index)
#df=df.drop(df[df['Area(Hr)'] ==10].index)

In [34]:
#df=df.drop(df[df['Production(tn)'] ==1].index)
#df=df.drop(df[df['Production(tn)'] ==0].index)
#df=df.drop(df[df['Production(tn)'] ==2].index)
#df=df.drop(df[df['Production(tn)'] ==3].index)
#df=df.drop(df[df['Production(tn)'] ==5].index)
#df=df.drop(df[df['Production(tn)'] ==4].index)
#df=df.drop(df[df['Production(tn)'] ==6].index)
#df=df.drop(df[df['Production(tn)'] ==10].index)

In [35]:
df.shape

(218379, 11)

In [40]:
df.isnull().sum()

State_Name           0
District_Name        0
Crop_Year            0
Season               0
Crop                 0
Area(Hr)             0
Production(tn)    1917
Date                 0
category             0
Region               0
productivity      1917
dtype: int64

In [41]:
df.dropna(inplace= True)

In [42]:
df.shape

(216462, 11)

In [43]:
df.isnull().sum()

State_Name        0
District_Name     0
Crop_Year         0
Season            0
Crop              0
Area(Hr)          0
Production(tn)    0
Date              0
category          0
Region            0
productivity      0
dtype: int64

In [47]:
df.to_csv("cleaned crop data.csv",index = False)

In [45]:
df.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop',
       'Area(Hr)', 'Production(tn)', 'Date', 'category', 'Region',
       'productivity'],
      dtype='object')

In [46]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area(Hr),Production(tn),Date,category,Region,productivity
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,2000-01-01,plantation,South india,1.594896
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,2000-01-01,plantation,South india,3.147059
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,2000-01-01,fruits,South india,3.642045
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,2000-01-01,dryfruits,South india,0.229167
5,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Coconut,18168.0,65100000.0,2000-01-01,plantation,South india,3583.223250